@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Fraunces";
    src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2EAE2;
    display: grid;
    place-items: center;
    height: 100dvh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    height: 454px;
    background-color: white;
}

picture > img {
    height: 454px;
    width: 300px;
}

#info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 454px;
    width: 300px;
    gap: 32px;
    padding: 32px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-type {
    width: 100%;
    height: auto;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 5px;
    color: #6C7289;
}

.product-name {
    color: #1C232B;
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 32px;
}

.product-description {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #6C7289;
}

.price-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 191px;
}

.sale-price {
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 32px;
    color: #3D8168;
}

.msrp {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    text-decoration: line-through;
    color: #6C7289;
}

.add-to-cart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 236px;
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: var(--spacing-100, 8px);
    background-color: #3D8168;
    color: white;
}

.attribution {
    bottom: 0%;
    position: static;
    font-size: 12px;
    font-family: "Fraunces";
}

@media (max-width:674px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 350px;
        height: 750px;
    }

    picture > img {
        height: 342px;
        width: 350px;
    }

    #info {
        height: 408px;
        width: 350px;
        gap: 24px;
    }

    .add-to-cart {
        width: 286px;
        height: 50px;
    }
}